button {
  color: white;
  border-radius: 5px;
  font-size: 30px;
  height: 45px;
  width: 70px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #7A6E5D;
  margin: 20px;
}

input {
  background-color: #EFE9DB;
  border-radius: 9px;
  width: 150px;
  height: 45px;
  font-size: 26px;
  border: none;
  outline: none;
  padding-left: 10px;
}

#box {
  display: flex;
  width: 400px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

#outer {
  margin: auto;
  background-color: #DED3C1;
  width: 400px;
  height: 300px;
  margin-top: 30vh;
  border-radius: 10px;
}

#output {
  font-size: 35px;
  color: #7A6E5D;
  font-weight: 600;
  text-align: center;
}